.header-slider {
    padding-top: 80px;
    margin-bottom: 35px; 
    
    @include media-small-laptop {
        padding-top: 130px;
    }

    @include media-mobile {
        margin-bottom: 15px;
    }
}

.container-slider {
    padding: 101px 0 0 0;
    
    .header-slider {       

        @include media-tablet {
            padding-top: 100px;
        }        
    }
}

.header-slider__item-content {
    display: flex;
    justify-content: space-between;  
    
}

.header-slider__item-content-info {
    max-width: 500px;
    color: $default-color;

    @include media-tablet {
        padding: 0 20px 0 0;

    }

    @include media-mobile {
        text-align: center;
        padding: 0;
    }

    .header-slider__title {
        @include font(4.0rem, 6.0rem, 600);
        margin: 0 0 10px;

        @include media-tablet {
            @include font(3.5rem, 4.0rem, 600);
        }

        @include media-mobile {
            @include font(3.0rem, 3.5rem, 600);
        }
    }

    .header-slider__description {
        @include font(2.4rem, 5.5rem, normal);
        margin-bottom: 60px;

        @include media-tablet {
            @include font(2.0rem, 3.0rem, normal);
            margin-bottom: 15px;
        }

        @include media-mobile {
            @include font(1.6rem, 2.4rem, normal);
        }
    }
}

.header-slider__item-content-images {
    padding: 10px 82px 0 0;

    @include media-small-laptop {
        padding: 0;
    }

    img {
        @include media-tablet {
            height: 200px;
            width: auto;

        }

        @include media-mobile {
            display: none;
        }
    }
}

.header-slider__item-content {
    .header-slider__item-content-images {
        @include media-tablet {
            padding: 0;
        }
    }
}

.container__arrow-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-slider__prev {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;   
    -webkit-transition: 0.5s;
    transition: 0.5s;

    @include media-mobile {
        width: 50px;
        height: 50px;
    }


    &:hover {
        background-color: rgba(255, 255, 255, 0.5);

        .arrow-left {
            opacity: 1;
            -webkit-transform: translate(-20%);
            -ms-transform: translate(-20%);
            transform: translate(-20%);
        }
        
    }

    .arrow-left {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 30px;
        height: 30px;
        background: url("/assets/img/icons-slider/arrow-left.svg") center no-repeat;
        background-size: cover;
        opacity: .4;
        -webkit-transition: 1s;
        transition: 1s;

        @include media-mobile {
            width: 20px;
            height: 20px;
        }
    }
}

.header-slider__next {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;    
    -webkit-transition: 0.5s;
    transition: 0.5s;

    @include media-mobile {
        width: 50px;
        height: 50px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);

        .arrow-right {
            opacity: 1;
            -webkit-transform: translate(20%);
            -ms-transform: translate(20%);
            transform: translate(20%);
        }
    }

    .arrow-right {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
        background: url("/assets/img/icons-slider/arrow-right.svg") center no-repeat;
        background-size: cover;
        opacity: .4;
        -webkit-transition: 1s;
        transition: 1s;

        @include media-mobile {
            width: 20px;
            height: 20px;
        }
    }
}

.header-slider__slider-dots {
    max-width: 144px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .dot {
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0 10px;
        background-color: $default-color;
        border-radius: 50%;
        display: inline-block;
        -webkit-transition: background-color 0.6s ease;
        transition: background-color 0.6s ease;

        @include media-mobile {
            width: 10px;
            height: 10px;
            margin: 0 7px;
        }

        &:hover {
            opacity: 0.6;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
    }

    .dot-active {
        background-color: $btn-color;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }

}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}