.promo {
    padding-top: 64px;
    background-color: $promobg-color;
    background-image: url(/assets/img/style-2.png);
    background-repeat: no-repeat;
    background-position: center right;

    @include media-small-laptop {
        background-image: none;
    }

    @include media-tablet {
        padding-top: 30px;
    }

    @include media-mobile {
        padding-top: 10px;
    }
}

.promo-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;

    @include media-tablet {
        padding-bottom: 20px;
    }

    @include media-mobile {
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
}

.promo-box__info {
    max-width: 456px;
    padding-top: 60px;
    background: url(/assets/img/promo/promo-bg1.svg) no-repeat;
    background-position: 22px 76px;

    @include media-tablet {
        padding: 0 30px 0 10px;
    }

    @include media-mobile {
        padding: 0 10px;
    }

    .promo-box__title {
        padding: 68px 0 15px 48px;

        @include media-tablet {
            padding: 0;
            @include font(3.0rem, 4.0rem, bold);
        }

        @include media-mobile {
            @include font(2.5rem, 3.0rem, bold);
        }

        h2 {

            @include media-tablet {
                @include font(3.0rem, 4.0rem, bold);
            }

            @include media-mobile {
                @include font(2.5rem, 3.0rem, bold);
            }
        }

    }

    .promo-box__text {
        p {
            margin: 12px 0;
        }
    }
}

.promo-box__image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        @include media-tablet {
            width: 85%;
        }
    }
}

.promo-box__info-bg {
    background: url(/assets/img/promo/promo-bg3.svg) no-repeat;
    background-position: 22px 76px;
}

.promo-box-right {
    flex-direction: row-reverse;

    .promo-box__info {
        background: url(/assets/img/promo/promo-bg2.svg) no-repeat;
        background-position: 5px 105px;

        @include media-tablet {
            padding: 0 10px 0 30px;
        }

        @include media-mobile {
            padding: 0 10px;
        }
    }
}