.reviews {
    background: url(/assets/img/reviews-bg.jpg) no-repeat;
    min-height: 519px;
    background-size: cover;
    background-position: top center;
    padding: 38px 0 82px;

    @include media-tablet {
        padding: 30px 0 40px;
    }
}

.reviews__title {
    margin: 0 auto 48px;
    max-width: 384px;

    h2 {
        color: $default-color;

        @include media-tablet {
            @include font(3.0rem, 4.0rem, bold);
            margin: 0 auto 25px;
        }

        @include media-mobile {
            @include font(2.5rem, 3.0rem, bold);
        }
    }
}

.reviews__items {
    display: flex;
    justify-content: space-around;

    @include media-tablet {
        flex-direction: column;
        justify-content: center;
    }

}

.reviews__item {
    width: calc(31%-10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 35px 20px;
    color: $default-color;
    overflow: hidden;

    @include media-tablet {
        margin: 0 auto 15px;
        width: 80%;
    }

    &-head {
        margin-bottom: 15px;
        display: flex;

        @include media-tablet {
            justify-content: center;
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .reviews__item-info {
            &-name {
                @include font(1.6rem, 2.4rem, 600);
            }

            &-position {
                opacity: 0.5;
            }
        }
    }

    &-text {
        text-align: center;
        padding-top: 39px;
        position: relative;


        &::before {
            content: "“";
            @include font(4.0rem, 5.5rem, bold);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}