.title {
    text-align: center;

    h2 {
        margin: 0;

        @include media-tablet {
            @include font(3.0rem, 4.0rem, bold);
        }

        @include media-mobile {
            @include font(2.5rem, 3.0rem, bold);
        }
    }
}

.specialised {
    padding: 60px 0 93px;
    background: url(/assets/img/style.png) no-repeat;
    background-position: left bottom;
    text-align: center;

    @include media-small-laptop {
        background: none;
    }
   
    @include media-tablet {
        padding: 30px 0 50px;       
    }

    @include media-mobile {
        padding: 20px 0 10px;
    }
}

.specialised__title {
    margin-bottom: 96px;

    @include media-tablet {
        margin-bottom: 50px;
    }
}

.specialised__items {
    display: flex;
    justify-content: space-between;

    @include media-mobile {
        flex-wrap: wrap;
    }


    .specialised__item {
        width: 30%;

        @include media-mobile {
            width: 100%;
            margin-bottom: 10px;
        }

        &-img {
            margin-bottom: 23px;
            min-height: 159px;

            @include media-mobile {
                margin-bottom: 0;
            }

            img {

                @include media-tablet {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &-title {
            margin-bottom: 11px;

            h3 {
                @include font(2.0rem, 2.4rem, bold);

                @include media-mobile {
                    @include font(1.6rem, 2.4rem, bold);
                }
            }
        }

        &-text {
            padding: 0 10px;
            opacity: 0.7;

            @include media-mobile {
                padding: 0;
            }
        }
    }
}