.header {
    background: url(/assets/img/header-bg.jpg) no-repeat;
    min-height: 793px;
    background-size: cover;
    background-position: top center;

    @include media-small-laptop {
        min-height: 700px;
    }

    @include media-tablet {
        min-height: 500px;
    }

    @include media-mobile {
        min-height: 450px;
    }
}

.container-fixed {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(20, 117, 186, 1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.20);    
}


.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    @include media-tablet {
        height: 70px;
    }

    @include media-mobile {
        height: 70px;
    }
}

.header__logo-line {
    display: flex;
    align-items: center;
}