.header {
    background: url(/assets/img/header-bg.jpg) no-repeat;
    min-height: 793px;
    background-size: cover;
    background-position: top center;

    @include media-tablet {
        min-height: 550px;
    }

    @include media-mobile {
        min-height: 420px;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    @include media-tablet {
        height: 70px;
    }

    @include media-mobile {
        height: 70px;
    }
}

.header__logo-line {
    display: flex;
    align-items: center;
}