.header {
    background: url(/assets/img/header-bg.jpg) no-repeat;
    min-height: 793px;
    background-size: cover;
    background-position: top center;

    &__top {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;

        .header__navigation {
            .navigation {
                display: flex;

                &__link {
                    padding-left: 50px;

                    a {
                        opacity: 0.5;
                        color: $default-color;
                        font-weight: $boldFontWeight;
                        text-transform: uppercase;
                        transition: all .5s;
                        font-style: normal;
                        font-size: 1.5rem;
                        line-height: 2.4rem;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &__link:nth-child(1) {
                    padding-left: 0;
                }
            }
        }

        .header__buttons {
            .login {
                padding-right: 44px;
                color: $default-color;
                font-weight: $boldFontWeight;
                text-transform: uppercase;
                font-style: normal;
                font-size: 1.5rem;
                line-height: 2.4rem;
            }

            .sign-up {
                font-style: normal;
                font-size: 1.5rem;
                line-height: 2.4rem;
                text-transform: uppercase;
                color: $textbtn-color;
                font-weight: $boldFontWeight;
                background-color: $default-color;
                padding: 8px 43px;
                border-radius: 20px;
            }
        }
    }
}