.reviews {
    background: url(/assets/img/reviews-bg.jpg) no-repeat;
    min-height: 519px;
    background-size: cover;
    background-position: top center;
    padding: 38px 0 82px;

    &__title {
        margin: 0 auto 48px;
        max-width: 384px;

        h2 {
            color: $default-color;
        }
    }

    &__items {
        max-width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .reviews__item {
            width: 300px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .2);
            padding: 35px 20px;
            color: $default-color;

            &-head {
                margin-bottom: 15px;
                display: flex;

                img {
                    border-radius: 50%;
                    margin-right: 20px;
                }

                .reviews__item-info {
                    &-name {
                        font-weight: $boldFontWeight;
                        font-size: 1.5rem;
                        line-height: 2.4rem;
                    }

                    &-position {
                        font-size: 1.5rem;
                        line-height: 2.4rem;
                        opacity: 0.5;
                    }
                }
            }

            &-text {
                font-size: 1.5rem;
                line-height: 2.4rem;
                text-align: center;
                padding-top: 39px;
                position: relative;

                &::before {
                    content: "“";
                    font-weight: $boldFontWeight;
                    font-size: 4.0rem;
                    line-height: 5.5rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}