.header-slider {
    padding-top: 111px;

    &__item {
        &-content {
            display: flex;
            justify-content: space-between;

            &-info {
                max-width: 506px;
                color: $default-color;

                .header-slider__title {
                    font-weight: $boldFontWeight;
                    margin-bottom: 10px;                    
                }

                .header-slider__description {
                    font-size: 2.4rem;
                    line-height: 5.5rem;
                    margin-bottom: 60px;
                }

                .header-slider__btn {
                    font-weight: $boldFontWeight;
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                    text-transform: uppercase;
                    color: $textbtn-color;
                    padding: 13px 39px;
                    background: $btn-color;
                    border-radius: 25px;
                }
            }

            &-images {
                margin: 10px 82px 0 0;
            }
        }
    }
}